<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HappyBeer - Choperas Artesanales</title>
    
    <!-- Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- BS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- Hoja de estilo-->
	<link rel="stylesheet" href="../css/estilo.css">

</head>
<body>    
    <header class="container-fluid">
            <div class="row">
                <div class="col-12 col-xl-12">
                    <nav class="navbar navbar-expand-lg bg-dark">
                        <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="../img/icon.png"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse d-flex justify-content-end justify-center" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link  text-warning" aria-current="page" href="../index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" href="choperas.html">Choperas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" href="bares.html">Bares</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" href="nosotros.html">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-warning" href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div>
                <img src="../img/hb.png" class="img-fluid">
            </div>
    </header>
    <main class="container mt-5">
      <div class="row">
          <div class="col-xl-12 ">
              <form action="#" method="post">
                  <div class="mb-3">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" required>
                  </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Correo electrónico</label>
                      <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                  <div class="mb-3">
                      <label for="mensaje" class="form-label">Mensaje</label>
                      <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary mb-2">Enviar</button>
                  </div>
              </form>
          </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <div class="container-fluid ">
          <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fab fa-facebook-f"></i>
            </a>
      
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fab fa-twitter"></i>
            </a>
      
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fab fa-google"></i>
            </a>
      
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
              <i class="fab fa-instagram"></i>
            </a>
          </section>
      
          <section class="mb-4">
            <p>
              Choperas Artesanales HappyBeer! Las mas lindas del mercado.
            </p>
          </section>
      
          <section class="">
            <form action="">
              <div class="row d-flex justify-content-center">
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Suscríbete para recibir nuestras ofertas</strong>
                  </p>
                </div>
      
                <div class="col-md-5 col-12">
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example2" class="form-control" />
                  </div>
                </div>
      
                <div class="col-auto">
                  <button type="submit" class="btn btn-outline-light mb-4">
                    Suscribirse
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
      
        <div class="text-center "" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Todos los derechos reservados:
          <a class="text-white" href="#">HappyBeer Choperas Artesanales</a>
        </div>
      </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</body>
</html>
